<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="processorSection" type="BackgroundTask.ProcessorSection,XMLYUpLoad.Catcher" />
  </configSections>
  <processorSection>
    <processors>
      <processor name="XMLYUpLoad.Catcher.UploadTask.QQTask,XMLYUpLoad.Catcher" enabled="true" cron="10 * * * *" logDir="/有声上架/企鹅上传/" />
      <processor name="XMLYUpLoad.Catcher.UploadTask.QingtingTask,XMLYUpLoad.Catcher" enabled="true" cron="10 * * * *" logDir="/有声上架/蜻蜓/" />
      <processor name="XMLYUpLoad.Catcher.CreateAlbumTask.QQTask,XMLYUpLoad.Catcher" enabled="true" cron="10 * * * *" logDir="/有声上架/企鹅创建/" />
      <processor name="XMLYUpLoad.Catcher.CreateAlbumTask.QingtingTask,XMLYUpLoad.Catcher" enabled="true" cron="10 * * * *" logDir="/有声上架/蜻蜓/" />
	  
	  <processor name="XMLYUpLoad.Catcher.UploadTask.HuaWeiVoiceTask,XMLYUpLoad.Catcher" enabled="true" cron="10 * * * *" logDir="/有声上架/华为上传/" />
	  <processor name="XMLYUpLoad.Catcher.CreateAlbumTask.HuaWeiVoiceTask,XMLYUpLoad.Catcher" enabled="true" cron="10 * * * *" logDir="/有声上架/华为创建/" />
     </processors>
  </processorSection>
  <connectionStrings>
    <add name="ReaderVoice" providerName="MySql.Data.MySqlClient" connectionString="Server=10.10.10.71;Database=ReaderVoice;Uid=reader;Pwd=reader2014..;Allow User Variables=True;SslMode=none;Charset=utf8mb4;"/>
    <add name="ReaderNovel" providerName="System.Data.SqlClient" connectionString="Data Source=10.10.10.197;Initial Catalog=ReaderNovel;Persist Security Info=True;User ID=reader;Password=reader2014..;"/>
    <add name="VoiceCartoonContext" providerName="MySql.Data.MySqlClient" connectionString="Server=10.10.10.71;Database=VoiceCartoon;Uid=reader;Pwd=reader2014..;Allow User Variables=True;SslMode=none;Charset=utf8mb4;"/>
    <add name="PandaPublisher" providerName="MySql.Data.MySqlClient" connectionString="Server=10.10.10.71;Database=PandaPublisher;Uid=reader;Pwd=reader2014..;Allow User Variables=True;SslMode=none;Charset=utf8mb4;"/>
  </connectionStrings>
  <appSettings>
    <add key="HeartTime" value="60" />
    <add key="BooksfilePath" value="D:\upload\" />
    <add key="Chromedriver" value="D:\chromedriver_win32\" />

    <add key="userAccount" value="18559991628" />
    <add key="userPwd" value="changdu123" />
    <add key="hwuserAccount" value="18559991628" />
    <add key="hwuserPwd" value="changdu123" />
    <add key="qtuserAccount" value="changdushucheng" />
    <add key="qtuserPwd" value="123456" />
    <add key="qquserAccount" value="2867539964" />
    <add key="qquserPwd" value="changdu123" />
	<add key="HWVoiceUser" value="18060476347" />

    <add key="FTPCONSTR" value="211.140.17.109" />
    <add key="FTPUSERNAME" value="ts0156" />
    <add key="FTPPASSWORD" value="ts0156!Q2w" />
    <add key="HangfireUrl" value="http://10.10.10.149:50103/" />
		<add key="AppID" value="XMLYUpLoad"/>
		<add key="DingAt" value="13960982356"/>
	<!--apollo服务器地址-->
	<add key="Apollo.PRO.Meta" value="http://apollo-config.cdreader.vip/"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
